<script setup>
  import {ref, onMounted, inject } from 'vue'
  import axios from 'axios'
  import { useQuasar } from 'quasar'

  const axiosConfig = {
    headers: {
      'Content-Type': 'application/json',
      'Accept': 'application/json',
      'Access-Control-Allow-Origin': '*'
    }
  };

  const $q = useQuasar()

  const formState = ref({
    name: '',
    id: '',
    email: '',
    phone: '',
    userType: '0',
  });

  const newSupervisor = ref(false);
  const supervisorModal = ref(false);
  const confirmDelete = ref(false);
  const confirmCreate = ref(false);
  const users = ref([]);
  //constant for webservices routes
  const wsRoute = inject('wsroute')
  const assetsRoute = inject('assetsRoute')
  
  onMounted(() => {
    loadUsers()
  })
  

  function submitForm() {
    confirmCreate.value = true;
  }

  async function saveUser() {
    confirmCreate.value = false;
    const objectToStore = formState._rawValue
    objectToStore.phone = objectToStore.phone.replace(/\D/g,'')
    $q.loading.show({
      delay: 400, // ms
      message: 'Guardando...'
    })
    try {
      const response = await axios({
        method: "post",
        url: window.location.protocol + "//" + window.location.hostname  + wsRoute  + "?_rest=SystemUsers",
        data: objectToStore
      }, axiosConfig)
      loadUsers();
      $q.loading.hide()
       $q.dialog({
        title: 'Exitoso!',
        message: '¡Usuario creado exitosamente!'
      })
      newSupervisor.value = false
      formState.value = {
        name: '',
        id: '',
        email: '',
        phone: '',
        userType: '0',
      }

    } catch (error) {
      $q.loading.hide()
      $q.dialog({
        title: 'Error',
        message: error.response.data.message
      })
      
    }
  }

  async function loadUsers() {
    try {
      const response = await axios({
        method: 'get',
        url: window.location.protocol + "//" + window.location.hostname  + wsRoute + "?_rest=SystemUsers"
      }, axiosConfig)
      console.log(response)
      users.value = response.data.results
    } catch (error) {
      if (error?.response?.data?.message) {
        $q.dialog({
          title: 'Error',
          message: error.response.data.message
        })  
      } else {
        $q.dialog({
            title: 'Error',
            message: error
          })  
      }
      
    }
  }

  function rules() {
    return this.$utils.requiredRule
  }

  function validateEmail(email) {
    return /[a-z0-9]+@[a-z]+\.[a-z]{2,3}/.test(email);
  }
</script>

<template>
  <q-card class="my-card" @click="supervisorModal = true">
    <q-parallax
      :src="assetsRoute +  'images/users.jpg'"
      :height="150"
    />

    <q-card-section>
      <div class="text-h6">Gestionar Usuarios</div>
      <div class="text-subtitle2">Crear o elimina supervisores y operarios</div>
    </q-card-section>
  </q-card>

  <q-dialog v-model="supervisorModal" full-width full-height>
    <q-card>
      <q-card-section>
        <div class="text-h6">Administrar usuarios</div>
      </q-card-section>

      <q-separator/>
      <q-separator/>

      <q-card-section style="max-height: 80vh" class="scroll">
        <q-list bordered class="rounded-borders" style="max-width: 100%">
          <!--<q-item-label header>Supervisores</q-item-label>-->

          <q-separator spaced/>
          <q-item v-for="user in users" :key="user.id">
            <!--<q-item-section avatar top>
              <q-avatar>
                <img src="https://cdn.quasar.dev/img/avatar2.jpg">
              </q-avatar>
            </q-item-section>-->
            <q-item-section top>
              <q-item-label>{{ user.fullname }}</q-item-label>
              <q-item-label caption lines="1">{{ user.email }}</q-item-label>
            </q-item-section>
            <q-item-section side top>
              {{user.group === 2 ? 'Supervisor' : 'Operador'}}
            </q-item-section>

            <!--<q-item-section top side>
              <div class="text-grey-8 q-gutter-xs">
                <q-btn size="12px" flat dense round icon="delete" @click="confirmDelete = true"/>
              </div>
            </q-item-section>-->
          </q-item>

        </q-list>
      </q-card-section>

      <q-separator/>

      <q-card-actions align="right">
        <q-btn flat label="Cerrar" color="primary" v-close-popup/>
        <q-btn flat label="Nuevo Usuario" color="positive" @click="newSupervisor = true"/>
      </q-card-actions>
    </q-card>
  </q-dialog>

  <q-dialog v-model="confirmDelete" persistent>
    <q-card>
      <q-card-section class="row items-center">
        <q-avatar icon="signal_wifi_off" color="primary" text-color="white" />
        <span class="q-ml-sm">¿Estás seguro que quieres desactivar este usuario?</span>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="Cancelar" color="primary" v-close-popup />
        <q-btn flat label="Desactivar" color="negative" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>

  <q-dialog v-model="newSupervisor">
    <q-card>
      <q-form @submit.prevent="submitForm">
        <q-card-section>
          <div class="text-h6">Crear Nuevo Usuario</div>
          <div class="text-subtitle1">
            Completa los datos, para crear tu usuario!.
          </div>
        </q-card-section>
        <q-separator inset />
        <q-card-section class="column q-gutter-md">
          <q-item-label header>Selecciona el tipo de usuario</q-item-label>
          <div class="q-gutter-sm">
            <q-radio v-model="formState.userType" val="Supervisor" label="Supervisor" />
            <q-radio v-model="formState.userType" val="Operator" label="Operario" />
          </div>
          <q-input
            v-model="formState.name"
            label="Nombre *"
            :rules="[(val) => (val && val.length > 5) || 'Ingresa un nombre!',]"></q-input>
          <q-input
            v-model="formState.id"
            type="number"
            label="Cedula *"
            :rules="[(val) => (val && val.length > 5) || 'Ingresa un mumero de identificacion!',]"
            number></q-input>
          <q-input
            v-model="formState.email"
            label="Correo *"
            :rules="[(val) => validateEmail(val) || 'Ingresa un mail valido!.']"
          ></q-input>
          <q-input
            v-model.number="formState.phone"
            label="Telefono"
            mask="(###) ### - ####"
            fill-mask
            hint="(###) ### - ####"
            :rules="[(val) => (val && val.length > 5) || 'Ingresa un mumero de telefono!',]"
          ></q-input>
        </q-card-section>
        <q-card-actions align="right">
          <!--<q-btn flat>Cancel</q-btn>
          <q-btn color="primary" type="submit">Create Account</q-btn>-->
          <q-btn flat label="Cancelar" color="negative" v-close-popup />
          <q-btn flat label="Guardar" color="positive" type="submit" />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>

  <q-dialog v-model="confirmCreate" persistent>
    <q-card>
      <q-card-section class="row items-center">
        <q-avatar icon="signal_wifi_off" color="primary" text-color="white" />
        <span class="q-ml-sm">¿Estás seguro que quieres crear al {{formState.userType === '0' ? 'Supervisor' : 'Operario' }}  {{formState.name}}?</span>
        <br>
        <span class="q-ml-sm">Recuerde que el nombre de usuario es {{formState.email}} y la clave es {{formState.id}}</span>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="Cancelar" color="negative" v-close-popup />
        <q-btn flat label="Guardar" color="positive" @click="saveUser" />
      </q-card-actions>
    </q-card>
  </q-dialog>

</template>


<style scoped lang="scss">

</style>