<script setup>
  import {ref, onMounted, inject} from 'vue'
  import axios from 'axios'
  import {useQuasar} from 'quasar'
  import imageCompression from 'browser-image-compression'
  import { useI18n } from 'vue-i18n'

  const axiosConfig = {
    headers: {
      'Content-Type': 'application/json',
      'Accept': 'application/json',
      'Access-Control-Allow-Origin': '*'
    }
  };

  const $q = useQuasar()


  const formState = ref({
    supervisor_id: 666,
    worker_id: 0,
    in_date: new Date()
      .toLocaleString('es-CO', {dateStyle: 'medium', timeStyle: 'short', hour12: true}),
    out_date: 0,
    in_photo_check: '',
    out_photo_check: '',
  });
  
  const compressOptions = {
    fileType: 'image/jpeg',
    maxSizeMB: 0.5,
    maxIteration: 100,
  };

  const newIngreso = ref(false)
  const supervisorModal = ref(false)
  const exitModal = ref(false)
  const confirmCreate = ref(false)
  const confirmExit = ref(false)
  const users = ref([])
  const attendance = ref([])
  const userOptions = ref([])
  let originalOptions = []
  //configuration constants
  const wsRoute = inject('wsroute')
  const assetsRoute = inject('assetsRoute')
  
  const { t } = useI18n()

  onMounted(() => {
    loadAttendance()
    loadUsers()
  })

  function submitForm() {
    confirmCreate.value = true;
  }

  async function saveAttendance(mode) {
    confirmCreate.value = false
    confirmExit.value = false
    const objectToStore = formState._rawValue
    objectToStore.worker_id = !isNaN(objectToStore.worker_id) ? objectToStore.worker_id : objectToStore.worker_id.id
    if (mode === 0) {
      objectToStore.in_date = new Date().toJSON()
      if (!objectToStore.worker_id || !objectToStore.in_photo_check) {
        $q.dialog({
          title: t('error_title'),
          message: 'Por favor selecciona una persona y una foto para el registro!'
        })
        return
      }
    } else {
      objectToStore.out_date = new Date().toJSON();
      if (!objectToStore.out_photo_check) {
        $q.dialog({
          title: t('error_title'),
          message: t('mng_act_select_person_picture_error')
        })
        return
      }
    }
    $q.loading.show({
      delay: 400, // ms
      message: t('global_saving')
    })
    try {
      //first we check if we have a file and upload it
      let photo_check = (mode === 0 ? objectToStore.in_photo_check : objectToStore.out_photo_check);
      if (photo_check instanceof File) {
        //first we compress the picture
        //compressOptions
        const compressedFile = await imageCompression(photo_check, compressOptions)
        //we load the picture
        var form_data = new FormData()
        form_data.append("file", compressedFile)
        form_data.append("worker_id", objectToStore.worker_id)
        const fileResponse = await axios({
          method: "post",
          url: window.location.protocol + "//" + window.location.hostname  + wsRoute + "?_rest=Files",
          data: form_data
        }, axiosConfig);
        if (fileResponse.data && fileResponse.data.message) {
          //TODO fix the hard coded server addres, this is only for dev
          if (mode === 0) {
            objectToStore.in_photo_check = window.location.protocol + "//" + window.location.hostname + fileResponse.data.message.substring(13)
          } else {
            objectToStore.out_photo_check = window.location.protocol + "//" + window.location.hostname + fileResponse.data.message.substring(13)
          }

        } else {
          objectToStore.in_photo_check = '';
        }

      }

      const response = await axios({
        method: mode === 0 ? "post" : "put",
        url: window.location.protocol + "//" + window.location.hostname  + wsRoute + "?_rest=Attendance",
        data: objectToStore
      }, axiosConfig)
      $q.loading.hide()
      if (typeof response.data === 'string' && response.data.includes('Fatal error')) {
        $q.dialog({
          title: '¡Error!',
          message: t('fatal_error_body') 
        })
        return;
      } 
      
      loadAttendance()
      $q.dialog({
        title: t('global_success'),
        message: t('mng_act_entry_success')
      })
      if (mode === 0) {
        newIngreso.value = false
      } else {
        exitModal.value = false;
      }
      formState.value = {
        supervisor_id: 19,
        worker_id: 0,
        in_date: new Date().toLocaleString(),
        out_date: 0,
        in_photo_check: '',
        out_photo_check: '',
      }

    } catch (error) {
      $q.loading.hide()
      processError(error)
      
    }
  }

  async function loadUsers() {
    try {
      const response = await axios({
        method: 'get',
        url: window.location.protocol + "//" + window.location.hostname  + wsRoute + "?_rest=SystemUsers"
      }, axiosConfig)
      users.value = response.data.results
      originalOptions = response.data.results
    } catch (error) {
      processError(error)
    }
  }

  async function loadAttendance() {
    try {
      const response = await axios({
        method: 'get',
        url: window.location.protocol + "//" + window.location.hostname  + wsRoute + "?_rest=Attendance/666"
      }, axiosConfig)
      attendance.value = response.data.results
      originalOptions = response.data.results
    } catch (error) {
      processError(error)
    }
  }

  function addedFile(files, mode) {
    if (mode === 0) {
      formState.value.in_photo_check = files[0]
    } else {
      formState.value.out_photo_check = files[0]
    }
  }

  function filterFn(val, update, abort) {
    update(() => {
      const needle = val.toLowerCase()
      users.value = originalOptions.filter(v => v.fullname.toLowerCase().indexOf(needle) > -1)
    })
  }

  function validateEmail(email) {
    return /[a-z0-9]+@[a-z]+\.[a-z]{2,3}/.test(email);
  }

  function longToDateTime(time) {
    return new Date(time * 1000)
      .toLocaleString('es-CO', {dateStyle: 'medium', timeStyle: 'short', hour12: true})
  }

  function registerWorkerExit(entry) {
    formState.value = entry
    formState.value.out_date = new Date()
      .toLocaleString('es-CO', {dateStyle: 'medium', timeStyle: 'short', hour12: true}),
      exitModal.value = true

  }
  
  function processError(error) {
    if (error.response?.status === 401) {
        $q.dialog({
          title: t('error_title'),
          message: t('global_missing_session') 
        })  
    } else {
      $q.dialog({
        title: t('error_title'),
        message: error.response?.data?.message ? error.response.data.message : error 
      })  
    }
  }
</script>

<template>
  <q-card class="my-card" @click="supervisorModal = true">
    <q-parallax
      :src="assetsRoute + 'images/clock.avif'"
      :height="150"
    />

    <q-card-section>
      <div class="text-h6">{{ t('mng_act_card_title') }}</div>
      <div class="text-subtitle2">{{ t('mng_act_card_subtitle') }}</div>
    </q-card-section>
  </q-card>

  <q-dialog v-model="supervisorModal" full-width full-height>
    <q-card>
      <q-card-section>
        <div class="text-h6">{{ t('mng_act_modal_title') }}</div>
      </q-card-section>

      <q-separator/>
      <q-separator/>

      <q-card-section style="max-height: 80vh" class="scroll">
        <q-list bordered class="rounded-borders" style="max-height: 68vh">
          <!--<q-item-label header>{{ t('mng_act_modal_list_title') }}</q-item-label>

          <q-separator spaced/>-->
          <q-item v-for="registry in attendance" :key="registry.id">
            <q-btn @click="registerWorkerExit(registry)">
              <template v-slot:default>
                <q-item-section avatar top>
                  <q-avatar>
                    <img :src="registry.in_photo_check">
                  </q-avatar>
                </q-item-section>
                <q-item-section top>
                  <!--<q-item-label lines="1" class="q-mt-xs text-body2 text-weight-bold text-primary text-uppercase">
                    <span>{{user.fullname}}</span>
                  </q-item-label>-->
                  <q-item-label>{{ registry.fullname }}</q-item-label>
                  <q-item-label caption lines="1">IN: {{ longToDateTime(registry.in_date) }}</q-item-label>
    
                </q-item-section>
                <q-item-section top side>
                <div class="text-grey-8 q-gutter-xs">
                  <q-btn size="12px" flat dense round icon="transfer_within_a_station"
                         />
                </div>
              </q-item-section>
              </template>
            </q-btn>
          </q-item>
        </q-list>
      </q-card-section>

      <q-separator/>

      <q-card-actions align="right">
        <q-btn flat :label="t('mng_act_btn_close')" color="primary" v-close-popup/>
        <q-btn flat :label="t('mng_act_btn_register')" color="positive" @click="newIngreso = true"/>
      </q-card-actions>
    </q-card>
  </q-dialog>

  <q-dialog v-model="exitModal">
    <q-card>
      <q-form @submit.prevent="confirmExit = true">
        <q-card-section>
          <div class="text-h6">{{ t('mng_act_exit_modal_title') }}</div>
          <div class="text-subtitle1">
            {{t('mng_act_exit_modal_confirm', { fullname: formState.fullname }) }}
          </div>
        </q-card-section>
        <q-separator inset/>
        <q-card-section class="column q-gutter-md">
          <q-input
            v-model="formState.out_date"
            :label="t('mng_act_new_register_sub_time')"
            readonly
          ></q-input>

          <q-uploader
            style="width: 97%"
            label="Toma una foto para validacion"
            accept="image/*"
            @added="(files, mode) => addedFile(files, 1)"
            capture="user"
            hide-upload-btn
          >
            <template v-slot:header="scope">
              <div class="row no-wrap items-center q-pa-sm q-gutter-xs">
                <div class="col" v-if="scope.queuedFiles.length > 0" icon="clear_all" @click="scope.removeQueuedFiles" round dense flat >
                  <q-tooltip>Clear All</q-tooltip>
                </div>
                
                <div class="col" v-if="scope.canAddFiles" type="a" icon-right="add_box" label="Pick Files" dense flat>
                  <span class="text-h6">{{ t('mng_act_new_register_upload') }}</span>
                  <q-uploader-add-trigger></q-uploader-add-trigger>
                </div>
                
              </div>
            </template>
          </q-uploader>  
        </q-card-section>
        <q-card-actions align="right">
          <!--<q-btn flat>Cancel</q-btn>
          <q-btn color="primary" type="submit">Create Account</q-btn>-->
          <q-btn flat label="Cancelar" color="negative" v-close-popup/>
          <q-btn flat label="Guardar" color="positive" type="submit"/>
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>

  <q-dialog v-model="newIngreso" @before-show="loadUsers">
    <q-card>
      <q-form @submit.prevent="submitForm">
        <q-card-section>
          <div class="text-h6">{{ t('mng_act_new_register_title')}}</div>
          <div class="text-subtitle1">
            {{ t('mng_act_new_register_sub_title') }}
          </div>
        </q-card-section>
        <q-separator inset/>
        <q-card-section class="column q-gutter-md">
          <q-select
            filled
            v-model="formState.worker_id"
            use-input
            hide-selected
            fill-input
            input-debounce="0"
            :options="users"
            :option-value="'id'"
            :option-label="'fullname'"
            @filter="filterFn"
            :hint="t('mng_act_new_register_sub_select')"
          >
            <template v-slot:no-option>
              <q-item>
                <q-item-section class="text-grey">
                  No results
                </q-item-section>
              </q-item>
            </template>
          </q-select>


          <q-input
            v-model="formState.in_date"
            :label="t('mng_act_new_register_sub_time')"
            readonly
          ></q-input>

          <!--<q-input
            v-model="formState.comments"
            label="Comentarios"
            filled
            type="textarea"
          />-->

          <q-uploader
            style="width: 97%"
            url="http://localhost:4444/upload"
            label="Toma una foto para validacion"
            accept="image/*"
            @added="(files, mode) => addedFile(files, 0)"
            hide-upload-btn
            capture="user"
          >
            <template v-slot:header="scope">
              <div class="row no-wrap items-center q-pa-sm q-gutter-xs">
                <div class="col" v-if="scope.queuedFiles.length > 0" icon="clear_all" @click="scope.removeQueuedFiles" round dense flat >
                  <q-tooltip>Clear All</q-tooltip>
                </div>
                <div class="col" v-if="scope.canAddFiles" type="a" icon-right="add_box" dense flat>
                  <span class="text-h6">{{ t('mng_act_new_register_upload') }}</span>
                  <q-uploader-add-trigger></q-uploader-add-trigger>
                </div>
              </div>
            </template>
          </q-uploader>
        </q-card-section>
        <q-card-actions align="right">
          <!--<q-btn flat>Cancel</q-btn>
          <q-btn color="primary" type="submit">Create Account</q-btn>-->
          <q-btn flat :label="t('global_cancel')" color="negative" v-close-popup/>
          <q-btn flat :label="t('global_save')" color="positive" type="submit"/>
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>

  <q-dialog v-model="confirmCreate" persistent>
    <q-card>
      <q-card-section class="row items-center">
        <q-avatar icon="signal_wifi_off" color="primary" text-color="white"/>
        <span class="q-ml-sm">{{ t('mng_act_confim_entry_text') }}</span>
      </q-card-section>

      <q-card-actions align="right">
        <!--<q-btn flat :label="t('global_cancel')" color="negative" v-close-popup/>
        <q-btn flat :label="t('global_save')" color="positive" @click="saveAttendance(0)"/>-->
        <q-btn flat :label="t('global_cancel')" color="negative" v-close-popup/>
        <q-btn flat :label="t('global_save')" color="positive" @click="saveAttendance(0)"/>
      </q-card-actions>
    </q-card>
  </q-dialog>

  <q-dialog v-model="confirmExit" persistent>
    <q-card>
      <q-card-section class="row items-center">
        <q-avatar icon="signal_wifi_off" color="primary" text-color="white"/>
        <span class="q-ml-sm">{{ t('mng_act_confim_exit_text') }}</span>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat :label="t('global_cancel')" color="negative" v-close-popup/>
        <q-btn flat :label="t('global_save')" color="positive" @click="saveAttendance(1)"/>
      </q-card-actions>
    </q-card>
  </q-dialog>

</template>


<style scoped lang="scss">

</style>